.Home {
	padding-left: 25vw;
	padding-right: 25vw;
	
}

#title {
	font-size: 40px;
	padding-bottom: 20px;
	color: orange;
}

p {
	padding-bottom: 8px;
}

#publish-date {
	font-size: 10px;
	padding-bottom: 20px;
}

.prereq-list {
	text-align: left;
	padding-bottom: 20px;
	border-bottom: solid black;
	border-width: 2px;
}

.footer {
	position: absolute;
	bottom: 0;
}

.footer i {
	padding-right: 20px;

}

.link {
	
	cursor: pointer;
	font-weight: bold;
	
}

.link:hover{
	color: cyan;
	transition: 0.5s;
}

.bold {
	font-weight: bold;
}

@media(max-width: 768px) {
	#title {
		padding-top: 20px;
		font-size: 30px;
	}
}