* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;

}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  height: 100vh;
  background: url('/NightSky1.svg') no-repeat center center fixed;
  /*background-color: #061F3E;*/
  background-size: cover;

  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
  -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
  
}


  


a {
  color: #333;
  text-decoration: none;
}

#root, .App {
  
}

.App {
  padding-top: 8vh;

}

@media (max-width: 768px) {
  html, body {
    
    /*background-position: center;*/
    
    
  }

  .App {
    padding-top: 8vh;
  }
}


