#navbar {
	width: 100%;
	height: 8vh;
	
	background-position: 0px;
	display: flex;
	justify-content: space-between;
	padding: 0 25px;
	padding-top: 10px;
	
	
}

#logo {
	
	width: 40px;
	border-radius: 50%;
	
}

.details {
	padding: 12px 0;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	color: white;
}

.burger-button {
	color: white;
	display: none;
}

@media (max-width: 768px) {

	#navbar {
		background-color: #64416D;
		position: fixed;
		padding-top: 0px;
	}

	.burger-button {
		margin-top: 20px;
		margin-right: 10px;
		display: flex;
	}

	.details h1 {
		font-size: 15px;
		padding-top: 8px;
	}

}


/*
#link-list {
	display: flex;
	list-style: none;
	justify-content: space-around;
}

#link-list li {
	padding: 18px 10px;
}*/