#link-list {
	display: flex;
	list-style: none;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	
}

.nav-link {
	margin: 22px 10px;
	color: white;
	font-size: 20px;
	position: relative;
}

.nav-link:hover {
	color: white;
}

.nav-link::before {
	content: '';
	position: absolute;
	width: 100%;
	/* we make this element hidden/scale of 0 so the solid line that fades in does not show until hover */
	transform: scaleX(0);
	height: 2.5px;
	bottom: 0;
	left: 0;
	background-color: cyan;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
	border-radius: 20px;
}

.nav-link:hover::before {
	/* this is where the line shows on hover */
	transform: scaleX(1);
	transform-origin: bottom left;
}

.socials {
	padding-top: 18px;
	padding-left: 10px;
}

.socials i {
	padding-right: 10px;
	cursor: pointer;
}

.fa-twitter:hover {
	color: #19B1E3;
	transition: 0.3s;
}

.fa-gitlab:hover {
	color: #F49E25;
	transition: 0.3s;
}

.fa-linkedin:hover {
	color: #0270AD;
	transition: 0.3s;
}


@media (max-width: 768px) {
	.hide {
		display: none;
	}

	.flex {
		display: flex;
	}


	#link-list {
		flex-flow: column nowrap;
		background-color: #1E131B;
		/* #333 is main nav colour */
		position: absolute;
		top: 0;
		right: 0;
		height: 100vh;
		width: 175px;
		padding-top: 3.5rem;
		margin-top: 8vh;
		
	}

	#link-list li {
		color: white;
		display: table;
		margin: 0px auto 50px auto;
	}

	.socials {
		margin-top: -50px;
		display: grid;
		grid-template-columns: auto;
		padding-left: 40%;
	}

	.socials i {
		padding-top: 40px;
	}
}
